/*all global styles*/
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding:20px;

}

/*remove page titles*/
.entry-title {
    display: none;
}