/*------------ GLOBAL STYLES --------*/
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

}

/*reset all containers width*/
.ast-container {
    width: 100% !important;
    max-width: 100% !important;
    padding: 0 !important;
}

/*remove page titles*/
.entry-title {
    display: none;
}

/*remove paddings/margins from above*/
.ast-plain-container.ast-no-sidebar #primary {
    margin: 0 !important;
    padding: 0 !important;
}

p, a, ul, ul li, ol li {
    font-size: 20px;
    line-height: 1.4;
}

/*global container width*/
.container {
    width: $container-width;
}

/*span highlight*/

span {
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear,left top,left bottom,from($primaryColor),to($primaryColor));
    background-image: linear-gradient(180deg,$primaryColor 0%,$primaryColor 100%);
    background-size: 0% 23%;
    background-position: 0 89%;
    -webkit-transition: background-size 0.8s ease-in-out;
    transition: background-size 0.8s ease-in-out;
    font-style: normal;
    will-change: background-size;
}
span.in-view {
    background-size: 100% 23% !important;
}

.cloud-button {
    width: 155px;
    position: relative;
    height: 51px;
    display: flex;
        align-items: center;
        justify-content: center;

    a {
        position: relative;
        padding: 0;
        z-index: 9;
        background-color: transparent !important;
    }
    .cloud {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }
}

.button-container {
    a.button {
        color: black !important;
        display: inline-block;
        width: 100%;
        text-align: center;
        border-radius: 0;
        font-size: 20px;
        text-decoration: none !important;
        box-shadow: 5px 5px #000;
        border: 2px solid #000 !important;
        transition: all ease-in 0.2s !important;
    }
    a.button:hover,
    a.button:focus,
    a.button:active {
        box-shadow:none;
    }
}

