//flexbox
@mixin flexbox {
    display: flex;
        align-items: center;
}
//flexbox col width
@mixin col {
    width: 50%;
}

@mixin flex-column {
    display: flex;
        flex-direction: column;
}

@mixin container {
    padding: 90px 0;
}

@mixin inner-container {
    padding: 25px 0;
}

@mixin fadeInItem($index) {
    &:nth-child(#{$index}) {
      animation-delay: #{$index * 0.2}s;
    }
  }