/*variables*/
$primaryColor: #d3ccff;
$darkerpurple: #7971AA;
$dark: #7971AA;
$textColor: black;
$backgroundColor: #FFFDF7;
$container-width: 1170px;
$banner-distance: 20px;
$border-bottom-color:  rgb(13, 13, 13);

.flexbox-center {
    display: flex;
        justify-content: center;
        align-items: center;
}

