$primaryColor: #324E65;
$secondaryColor: #C6D8DA;
$secondary_colour_shade: #b2e3e6;
$tetriaryColor: #D3A588;
$backgroundColor: #FBF5F0; 
$textColor: #1E2D3A;
$headingFont: 'Source Serif 4', serif;
$mainFont: 'Poppins', sans-serif;
$contentWidth: 990px;