/*---------- HOME PAGE --------*/
/*Banner image*/
.banner {
    @include flexbox;
    .col {
        @include col;
        @include flexbox;
        flex-direction: column;
        align-self:stretch;     
    }
    .text-col {
        display: flex;
            flex-direction: column;
            align-items: center;
    }
    .text-container {
        /*width:450px;*/
        padding: 40px 150px 40px 150px;
        margin: auto;
        display: flex;
            flex-direction: column;
            justify-content: center;
        gap: $banner-distance;
        h1 {
            font-size: 45px;
            margin-bottom: 0;
        }
        & > span {
            font-size: 21px;
        }
        p {
            margin-bottom: 0;
            font-size: 26px;
            line-height: 1.6;
        }
    }
    img {
        height: 103%;
        object-fit: cover;
        object-position: 0 2px;
    }
    .button-container {
        margin-top: 20px;
    }
}

/*------ SERVICES SECTION -------*/
.services-section {
    @include container;
    .services-container {
        display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 40px;
            @include inner-container;
        /*services cards*/
        .card-tab{
            width: 48%;
            border: $border-bottom;
            .tab {
                @include flexbox;
                justify-content: flex-start;
                width: 100%;
                background: $linear-gradient;
                padding: 7px 20px;
                border-bottom: $border-bottom;
                gap: 15px;
                img {
                    width: 30px;
                }
                .cross {
                    width: 25px;
                }
            }
        }
        .card-items {
            @include flex-column;
            gap: 20px;
            padding: 30px;
            img {
                width: 70px;
            }
        }
    }
}

/*---------WHY SECTION ------*/
.why-section .container {
    position: relative;
}

img.logo-rotate {
    position: absolute;
    /* right: 144px; */
    left: 76%;
    width: 300px;
    top: 0;
}