/*---------- HOME PAGE --------*/
/*Banner image*/
.banner {
    @include flexbox;
    .col {
        @include col     
    }
    .text-container {
        width:450px;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    span {
        font-size: 20px;
    }
    h1 {
        font-size: 45px;
        margin-bottom: 0;
    }
    .text-container p {
        font-size: 20px;
        line-height: 1.4;
        margin-bottom: 0;
    }
}